@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0; /* Black text */
    --background-start-rgb: 214, 219, 220; /* Lighter background start */
    --background-end-rgb: 255, 255, 255; /* White background end */
  }
}

@layer utilities {
  /* Make the scrollbar transparent for Chrome, Safari, Opera */
  .transparent-scrollbar::-webkit-scrollbar {
    width: 0px; /* prevents any flicker on mouse hover */
  }

  .transparent-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .transparent-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
